<!-- ##### Search Area Start ##### -->
<div class="bueno-search-area section-padding-100-0 pb-70 bg-img" style="background-image: url({{ asset('img') }}/core-img/pattern.png);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" method="post">
                    <div class="row">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ##### Search Area End ##### -->